[Desktop Entry]
Version=1.0
Type=Application
Name={{ intellij_naming_map[intellij_idea_edition].name }}
Icon=/opt/idea/bin/idea.svg
Exec="/opt/idea/bin/idea.sh" %f
Comment={{ intellij_naming_map[intellij_idea_edition].comment }}
Categories=Development;IDE;
Terminal=false
StartupNotify=true